@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Montez&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@theme {
  --font-agbalumo: 'Agbalumo', cursive;
  --font-montez: 'Montez', cursive;
  --font-montserrat: 'Montserrat', sans-serif;
  --color-dark-green: #2f8f75;
  --color-light-green: #059669;
  --color-custom-black: #1f2937;
  --color-custom-gray: #4e5765;
}

.heroImage {
  position: absolute;
  right: 0;
  top: 0;
  clip-path: polygon(45% 0, 100% 0, 100% 100%, 17% 100%);
}
