@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Montez&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@theme {
  --font-agbalumo: 'Agbalumo', cursive;
  --font-montez: 'Montez', cursive;
  --font-montserrat: 'Montserrat', sans-serif;
  --color-dark-green: #2f8f75;
  --color-light-green: #059669;
  --color-custom-black: #1f2937;
  --color-custom-gray: #4e5765;
  --breakpoint-2md: 64rem;
}

.heroImage {
  position: absolute;
  right: 0;
  top: 0;
  clip-path: polygon(45% 0, 100% 0, 100% 100%, 17% 100%);
}

.img-background {
  background-image: url('./img/bgi-img.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  color: white;
  z-index: 0;
}

.img-background::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(47, 143, 119, 0.85);
}
